.login-container{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fafafa;
	display: flex;
}
.login-wrap{
	margin: auto;
	padding: 24px;
	background: white;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.5);
}
.login-btn{
  margin-bottom: 8px;
  min-width: 156px;
}
.login-btn:last-child{
  margin-bottom: 0;
}
.login-btn button{
  width: 100%;
}
.login-btn button:focus{
  box-shadow: none;
}
