<!-- <div *ngIf="!currentUser">
  <a (click)="signInWithGoogle()" >google</a>
  <a (click)="signInWithFB()" >fb</a>
</div>
<a (click)="signOut()"  *ngIf="currentUser">signOut</a>
<div *ngIf="currentUser">
  <img src="{{ currentUser.photoUrl }}">
  <div>
    <h4>{{ currentUser.name }}</h4>
    <p>{{ currentUser.email }}</p>
  </div>
</div> -->

<div class="login-container">
	<div class="login-wrap">
    <div class="login-btn">
      <button type="button" class="btn btn-outline-danger" (click)="signInWithGoogle()">Google</button>
    </div>
    <div class="login-btn">
      <button type="button" class="btn btn-outline-primary" (click)="signInWithFB()">Facebook</button>
    </div>
    <div class="login-btn">
      <button type="button" class="btn btn-outline-info" (click)="signInWithLinkedIN()">Linkedin</button>
    </div>
  </div>
</div>
