.app-aside{
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  width: 210px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.5);
  background: white;
}
.app-aside .user-avatar{
  width: 100%;
  height: 210px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.app-aside .user-info{
  padding: 8px;
}
.app-aside .user-info .user-name{
  font-size: 18px;
  margin-bottom: 0;
}

.app-aside .user-info .user-email{
  font-size: 15px;
  color: rgba(0,0,0,0.5)
}
